# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of the commonly used libraries used by Data Scientists
- Demonstate evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. ggplot2

| Data Science Tools |
|------|
| Jupyter Notebook |
| Jupyter Lab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author

Jason Machado